---
layout: default
---
<body>
    <!-- Floating button-->
      <a href="#" class="float">
        {{ page.title }}
      </a>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img src="assets/img/favicon.png" alt="Flower" />
      </div>
    </div>
    <!-- End Preloader-->

    <!-- Begin Main Content -->
    <div class="main-content">
      <!-- Begin Tentang Khanh and Duyen -->
      <section class="section-light regular-section is-fullheight" id="sukien">
        <div class="container">
          <div class="columns is-multiline">
          <div class="column has-text-centered is-12 prolog">
            <h1 class="title has-text-centered section-title" data-aos="fade-up" data-aos-easing="linear">Gallery</h1>
          <!-- IMAGES -->
        <div class=" tile">
          <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child foto1 notification foto1" data-aos="fade-up" data-aos-easing="linear">
              <div class="content">
                <p class="title-foto">November 2021</p>
                <p class="subtitle-foto">
                  ngày đầu gặp mặt <a href="https://cashbac.com" target="_blank">Cashbac</a>
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification foto2" data-aos="fade-up" data-aos-easing="linear">
              <div class="content">
                <p class="title-foto">
                  Desember 2018 - Februari 2019
                </p>
                <p class="subtitle-foto">
                 ngày 2 gặp
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification foto3" data-aos="fade-up" data-aos-easing="linear">
              <div class="content">
                <p class="title-foto">
                  Tháng 2019
                </p>
                <p class="subtitle-foto">
                  ngày 3 gặp
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="space24px"></div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification foto6" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Juni 2019</p>
              <p class="subtitle-foto">Ngày 4</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification foto4" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Desember 2019</p>
              <p class="subtitle-foto">Ngày 5</p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification foto5" data-aos="fade-up" data-aos-easing="linear">
            <div class="content">
              <p class="title-foto">Tháng 2020</p>
              <p class="subtitle-foto">Ngày cưới</p>
            </div>
          </article>
        </div>
      </div>
          <!-- IMAGES -->
          <div class="space40px"></div>
            <div data-aos="fade-up" data-aos-easing="linear">
              <img src="assets/img/divider-leaves.png" class="divider has-vertically-align" alt="~~~">
            </div>
            <div class="space40px"></div>
            <div class="space40px"></div>

          </div>
        </div>
      </section>
      <!-- End Tentang Khanh dan Duyen -->
    </div>
    <!-- End Main Content -->

    <!-- Begin Footer -->
    <div class="footer">
      <div class="container">
        <a href="https://github.com/duyendoan/Duyen-Khanh-menikah" class="has-vertically-align">
          <p class="has-vertically-align">2022 @ design by kaoengine</p>
        </a>
        <a href="https://bulma.io" class="has-vertically-align">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma">
        </a>
      </div>
    </div>
    <!-- End Footer -->
    <!-- <embed src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" width="180" height="90" loop="false" autostart="false" hidden="true" /> -->

    <div id="player">
      <audio autoplay hidden>
      <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mpeg">
                  If you're reading this, audio isn't supported.
      </audio>
    </div>
    
    <!-- <audio controls=""><source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mpeg"></audio> -->
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/menikah.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
